@theme{
    --color-raisingblack: #161925;
    --color-xanthous: #e6af2e;
}
@import 'tailwindcss';

<<<<<<< HEAD
:root{background: #161925;
=======
:root{background: #242424;
>>>>>>> 17c08a1d69c132953bb0dba90ada00cb608843f3
}

