@theme {
  --color-raisingblack: #161925;
  --color-xanthous: #e6af2e;
  --color-skyblue: #78c0e0;
  --color-yinminblue: #455584;
  --color-glaucous: #7A8CB6;
  --color-spacecadet: #2D344D;
  --font-mozzila: "Mozilla Headline", sans-serif;
  --font-roboto: "Roboto", sans-serif;
}
@import "tailwindcss";

:root {
  background: #161925;
}
